ul,
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.conteiner {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid #757575;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .header_box {
    display: flex;
    align-items: center;
  }
}

.mob-menu__open,
.mob-menu__close {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__open:hover, .mob-menu__open:focus,
.mob-menu__close:hover,
.mob-menu__close:focus {
  fill: #0085ff;
}
@media screen and (min-width: 768px) {
  .mob-menu__open,
.mob-menu__close {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.mob-menu__box {
  height: 100%;
  padding-top: 20px;
  overflow: scroll;
}

.mob-menu__list {
  margin-top: 8px;
  margin-left: 40px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigations {
  display: flex;
}
.navigations_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigations_list {
    display: flex;
    align-items: center;
    margin-left: 600px;
    margin-right: 20px;
  }
}
.navigations_item:not(:last-child) {
  margin-right: 20px;
}
.navigations_link {
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigations_link:hover, .navigations_link:focus {
  color: #0085ff;
}

.logo_icon {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .logo_icon {
    margin-left: auto;
  }
}

.logo {
  display: flex;
  line-height: 1.4;
  color: #212121;
}
.logo_box {
  margin-right: auto;
  margin-top: 5px;
}
.logo_tex {
  display: block;
  font-size: 10px;
}
.logo_title {
  display: block;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.help {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .help {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .help__box {
    display: flex;
  }
}

.help__wrap {
  margin-bottom: 20px;
}

.help_text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .help_text {
    width: 799px;
    margin-bottom: 20px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .help_list {
    display: flex;
    justify-content: space-evenly;
    width: 799px;
  }
}

@media screen and (max-width: 767px) {
  .help_item:first-child {
    margin-bottom: 20px;
  }
}

.help__link {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  height: 40px;
  line-height: 1.4;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #0085ff;
  border-radius: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.help__link:hover, .help__link:focus {
  background-color: #fd0;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .help__link--none {
    display: none;
  }
}

.help_img {
  width: 350px;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .help_img {
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: -40px;
  }
}

.about {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 40px 0;
  }
}
.about_box {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
}
@media screen and (min-width: 768px) {
  .about_box {
    display: flex;
    margin-bottom: 40px;
  }
}
.about_title {
  font-size: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about_title {
    font-size: 28px;
  }
}

.about_soc-list {
  display: flex;
  justify-content: center;
}

.about_soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about_soc-link:hover, .about_soc-link:focus {
  fill: #fff;
  background-color: #0085ff;
}

.about_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.about_item {
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  flex-basis: calc(100% - 30px);
  background-color: #e8f354;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .about_item {
    flex-basis: calc(50% - 30px);
  }
}

.about_text {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about_text {
    font-size: 20px;
  }
}

.about_link {
  font-weight: 700;
  color: #212121;
}

.team {
  padding: 20px 0;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .team {
    padding: 40px 0;
  }
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  margin-top: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  padding-top: 20px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    margin-left: 30px;
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
    padding-top: 0;
  }
}

.team__img {
  width: auto;
  height: 290px;
  margin-right: auto;
  margin-left: auto;
}

.team__box {
  padding: 15px 0 15px 0;
  text-align: center;
}

.team__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 44px;
  height: 44px;
}

.team__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__prof {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 122px 24px 122px;
}
@media screen and (min-width: 768px) {
  .team__soc-list {
    padding: 0 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__soc-list {
    padding: 0 32px 30px 32px;
  }
}

.team__soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  fill: #fff;
  background-color: #0085ff;
}

img {
  width: 100%;
}

.sim-slider {
  max-width: 1000px;
  min-width: 320px;
  margin: 20px auto;
  padding: 30px 50px;
  border: 1px solid #ccd;
  background-color: white;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1;
}

div.sim-slider-arrow-right:hover {
  opacity: 1;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}

.details {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .details {
    padding: 40px 0;
  }
}

.details_titel {
  font-size: 28px;
  line-height: 1.35;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .details_titel {
    font-size: 36px;
  }
}

.details_subtitle {
  font-size: 22px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .details_subtitle {
    font-size: 30px;
  }
}

.details_titel4 {
  margin-bottom: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 1.75;
  color: #959595;
}

.details_list {
  margin-bottom: 40px;
}

.details_item {
  font-size: 14px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .details_item {
    font-size: 18px;
  }
}

.details_text {
  font-size: 18px;
  line-height: 1.75;
  margin-bottom: 40px;
}

.footer {
  padding: 20px 0;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer_wrap {
    display: flex;
    justify-content: space-between;
  }
}

.footer__icon {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
}

.footer_box {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.footer__text {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.footer__item:first-child {
  margin-bottom: 9px;
}

.footer__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #0085ff;
}

.socials__list {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #0085ff;
}/*# sourceMappingURL=main.css.map */