.about {
  padding-top: 25px;
  background-color: rgba(133, 149, 120, 0.1);

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}
.about_title {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.77;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 39px;
  }
}
.about_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-top: -58px;
    margin-left: -58px;
  }
}
.about_item {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc(100% - 30px);
  @media screen and (min-width: 768px) {
    margin-top: 58px;
    margin-left: 58px;
    flex-basis: calc(100% / 4 - 58px);
    display: block;
  }
}
.about__picture {
  display: block;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.about_text {
  width: 239px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 100%;
  }
}
.about_link {
  font-weight: 700;
  color: #212121;
}
.about-soc__list {
  display: flex;
  justify-content: center;
}
.about-soc__item:not(:last-child) {
  margin-right: 10px;
}
.about-soc__text {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.about__box {
  padding-top: 9px;
  padding-bottom: 15px;
  background-color: rgba(133, 149, 120, 0.2);
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 28px;
  }
}
.about-soc__icon {
  @media screen and (min-width: 768px) {
    width: 32px;
  }
}
