.contact-page {
  .contact {
    min-height: calc(100vh - 295px);
    line-height: 1.5;
  }

  @media screen and (max-width: 737px) {
    .contact__box {
      display: flex;
    }
  }
  .contact__img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

    height: 340px;
    background-image: url(../images/contact/foncontact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 737px) {
      background-image: url(../images/contact/contact_fon_mob.jpg);
    }
  }
  .contact__wrap {
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    .contact__item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      font-weight: 500;
      font-size: 17px;
      line-height: 1.76;
      color: #000000;
      @media screen and (max-width: 737px) {
        font-size: 15px;
        line-height: 1.8;
      }
      .contact__icon {
        margin-right: 12px;
        @media screen and (max-width: 737px) {
          width: 32px;
          height: 32px;
        }
      }
    }
    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.69;
      margin-bottom: 25px;
      @media screen and (max-width: 737px) {
        font-size: 22px;
        line-height: 1.77;
      }
    }

    p {
      color: #424242;
      font-size: 16px;
    }

    a {
      color: #000000;
    }

    .half-block {
      width: 50%;
      display: inline-block;
      white-space: normal;
      vertical-align: top;
      padding-bottom: 316px;
    }

    @media screen and (max-width: 737px) {
      .half-block {
        width: 100%;
        display: block;
        padding-bottom: 40px;
      }
    }
  }
}
