.details {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }

  .payment_gateways_block {
    padding-bottom: 50px;

    .payment_gateways {
      width: 70%;
      text-align: center;

      @media screen and (min-width: 768px) {
        width: 100%;
      }

      .liqpay {
        //width: 50%;
        min-width: 300px;
        text-align: center;
      }
    }
  }
}

.details_titel {
  font-size: 28px;
  line-height: 1.35;
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.details_subtitle {
  font-size: 22px;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    padding-bottom: 15px;
  }
}

.details_titel4 {
  margin-bottom: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 1.75;
  color: #959595;
}

.details_list {
  margin-bottom: 40px;
}

.details_item {
  font-size: 14px;
  line-height: 1.75;
  &--bold {
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.details_text {
  font-size: 18px;
  line-height: 1.75;
  margin-bottom: 40px;
}

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
ul.tab li {
  float: left;
}
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.tab li a:hover {
  background-color: #ddd;
}
ul.tab li a:focus,
.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tablinks_img {
  display: inline;
}
