.container {
    max-width: 1280px;
}

.gallery {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 2px;
        border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
        position: absolute;
        left: 0;
        top: 123px;;
    }

    #more-reports {
        display: none;
        @media screen and (min-width: 1280px) {
            display: flex;
        }
    }

    .team__btn {
        margin: 0 0 30px auto;
        padding: 0;
        outline: none;
    }

    .gallery-container {
        padding: 30px 0 0;
        a {
            display: inline-block;
            width: 100%;

            .img-wrapper {
                aspect-ratio: 1 / 1;
                overflow: hidden;
                background-size: cover;
                background-position: center top;
                width: 100%;

                img {
                    height: 100%;
                    width: auto;
                    max-width: fit-content;
                }
            }
            .img-description {
                font-size: 14px;
            }
        } 
    }

    .modal-content {
        .modal-body {
            position: relative;

            .close {
                position: absolute;
                top: 5px;
                right: 10px;
                outline: none;
            }
        }

        .modal-footer {
            justify-content: center;
            padding: 0;
            border: none;
            padding: 0 15px;
            line-height: 2;
        }
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        &:before {
            top: 150px;
        }
    }
}
