.gallery {
    h2 {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 32px;

        @media (max-width: 767px) {}
    }
}

.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // max-width: 64rem;
    margin: 0 auto;
    // padding: 0 1.5rem;
    gap: 1.25rem;

    a {
        width: 18%;

        @media (max-width: 767px) {
            width: 44%;
        }

        img {
            border-radius: 0.25rem;
        }
    }
    
    
}

a[data-fancybox] {
    transition: all .15s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}