.header {
  padding: 24px 0 36px 0;

  @media screen and (min-width: 768px) {
    padding: 26px 0 97px 0;
  }
}
.header_box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
