.header {
  padding: 15px 0;
  border-bottom: 1px solid #757575;
  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
}
.header_box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
