.help {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
}
.help__box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.help__wrap {
  margin-bottom: 20px;
}
.help_text {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 799px;
    margin-bottom: 20px;

    font-size: 36px;
  }
  font-size: 20px;
  line-height: 1.4;
}
.help_list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;

    width: 799px;
  }
}
.help_item:first-child {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}
.help_link {
  display: block;

  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  height: 40px;

  line-height: 1.4;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: $brandColor;
  border-radius: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $secondColor;
    color: #212121;
  }
}
.help_img {
  @media screen and (min-width: 768px) {
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: -40px;
  }
  width: 350px;
  height: 100%;
  margin: auto;
}
