.help {
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-bottom: 89px;
  }
}
.help__box {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 1280px) {
    display: flex;
    padding: 0;
    margin-left: 74px;
  }
}
.help__wrap {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;

    width: 1460px;
    margin-right: auto;
    margin-left: auto;
  }
}
.help_text {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 41px;
    font-size: 24px;
  }
  @media screen and (min-width: 1280px) {
    // width: 799px;
    width: 456px;
  }
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
}
.help_list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }
}
.help_item:first-child {
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.help__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  width: 327px;
  height: 53px;

  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.link--suport {
  background: #ffe248;
  color: #000000;
  @media screen and (min-width: 768px) {
    width: 222px;
    height: 71px;
    font-size: 22px;
  }
}
.link--help {
  background: #163530;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 305px;
    height: 71px;
    font-size: 22px;
  }
}
// .help_img {
//   @media screen and (min-width: 768px) {
//     margin-left: 100px;
//     margin-top: -40px;
//     margin-bottom: -40px;
//   }
// }
