.navigations {
  display: flex;

  &_list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;

      margin-right: 240px;
    }
  }

  &_item:not(:last-child) {
    margin-right: 20px;
  }

  &_link {
    font-size: 14px;
    line-height: 1.4;
    color: #212121;

    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $brandColor;
    }

    &.marked {
      text-decoration: underline;
    }
  }
}
.navigations__supportBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 76px;
  background: #ffe248;
  border-radius: 40px;

  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  text-align: center;

  color: #163530;

  @media screen and (max-width: 767px) {
    display: none;
  }
  img {
    margin-right: 10px;
  }
}
