.navigations {
  display: flex;

  &_list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-left: 500px;
      margin-right: 20px;
    }
  }
  &_item:not(:last-child) {
    margin-right: 20px;
  }
  &_link {
    font-size: 14px;
    line-height: 1.4;
    color: #212121;

    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $brandColor;
    }
  }
}
