.policy {
  padding: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .policy {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .policy__box {
    display: flex;
  }
}

.policy__wrap {
  margin-bottom: 20px;


  .lst-kix_list_2-6 > li:before {
    content: "\0025cf  "
  }

  .lst-kix_list_2-7 > li:before {
    content: "o  "
  }

  ul.lst-kix_list_1-0 {
    list-style-type: none
  }

  .lst-kix_list_2-4 > li:before {
    content: "o  "
  }

  .lst-kix_list_2-5 > li:before {
    content: "\0025aa  "
  }

  .lst-kix_list_2-8 > li:before {
    content: "\0025aa  "
  }

  ul.lst-kix_list_2-8 {
    list-style-type: none
  }

  ul.lst-kix_list_1-3 {
    list-style-type: none
  }

  ul.lst-kix_list_2-2 {
    list-style-type: none
  }

  .lst-kix_list_1-0 > li:before {
    content: "\0025cf  "
  }

  ul.lst-kix_list_1-4 {
    list-style-type: none
  }

  ul.lst-kix_list_2-3 {
    list-style-type: none
  }

  ul.lst-kix_list_1-1 {
    list-style-type: none
  }

  ul.lst-kix_list_2-0 {
    list-style-type: none
  }

  ul.lst-kix_list_1-2 {
    list-style-type: none
  }

  ul.lst-kix_list_2-1 {
    list-style-type: none
  }

  ul.lst-kix_list_1-7 {
    list-style-type: none
  }

  ul.lst-kix_list_2-6 {
    list-style-type: none
  }

  .lst-kix_list_1-1 > li:before {
    content: "o  "
  }

  .lst-kix_list_1-2 > li:before {
    content: "\0025aa  "
  }

  ul.lst-kix_list_1-8 {
    list-style-type: none
  }

  ul.lst-kix_list_2-7 {
    list-style-type: none
  }

  ul.lst-kix_list_1-5 {
    list-style-type: none
  }

  ul.lst-kix_list_2-4 {
    list-style-type: none
  }

  ul.lst-kix_list_1-6 {
    list-style-type: none
  }

  ul.lst-kix_list_2-5 {
    list-style-type: none
  }

  .lst-kix_list_1-3 > li:before {
    content: "\0025cf  "
  }

  .lst-kix_list_1-4 > li:before {
    content: "o  "
  }

  .lst-kix_list_1-7 > li:before {
    content: "o  "
  }

  .lst-kix_list_1-5 > li:before {
    content: "\0025aa  "
  }

  .lst-kix_list_1-6 > li:before {
    content: "\0025cf  "
  }

  li.li-bullet-0:before {
    margin-left: -35.4pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 35.4pt
  }

  .lst-kix_list_2-0 > li:before {
    content: "\0025cf  "
  }

  .lst-kix_list_2-1 > li:before {
    content: "o  "
  }

  .lst-kix_list_1-8 > li:before {
    content: "\0025aa  "
  }

  .lst-kix_list_2-2 > li:before {
    content: "\0025aa  "
  }

  .lst-kix_list_2-3 > li:before {
    content: "\0025cf  "
  }

  ol {
    margin: 0;
    padding: 0
  }

  table td, table th {
    padding: 0
  }

  .c11 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 14pt;

    font-style: normal
  }

  .c1 {
    background-color: #ffffff;
    margin-left: 18pt;
    padding-top: 0pt;
    padding-left: 17.4pt;
    padding-bottom: 0pt;

    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c2 {
    background-color: #ffffff;
    padding-top: 0pt;
    text-indent: 42.5pt;
    padding-bottom: 7.5pt;

    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c3 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 7.5pt;

    orphans: 2;
    widows: 2;
    text-align: center;
    height: 12pt
  }

  .c10 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Calibri";
    font-style: normal
  }

  .c5 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 7.5pt;

    orphans: 2;
    widows: 2;
    text-align: center
  }

  .c17 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;

    font-style: normal
  }

  .c14 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Helvetica Neue";
    font-style: normal
  }

  .c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;

    font-style: normal
  }

  .c7 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;

    font-style: normal
  }

  .c8 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 0pt;

    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;

    orphans: 2;
    widows: 2;
    text-align: left
  }

  .c12 {
    //background-color: #ffffff;
    //max-width: 481.6pt;
    //padding: 42.5pt 42.5pt 42.5pt 70.8pt
  }

  .c13 {
    color: inherit;
    text-decoration: inherit
  }

  .c9 {
    padding: 0;
    margin: 0
  }

  .c16 {
    background-color: #ffffff
  }

  .c6 {
    text-indent: 42.5pt
  }

  .c4 {
    height: 12pt
  }

  .title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  .subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";

    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  li {
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman"
  }

  p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman"
  }

  h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;


    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }
}

