.team {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
}
.team__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.78;
  text-align: center;
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.78;
    margin-bottom: 40px;
  }
}
.team__list {
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.team__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.team__img {
  margin-right: auto;
  margin-left: auto;
}

.team__box {
  padding: 11px 5px;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding: 21px 5px;
  }
}

.team__name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  @media screen and (min-width: 1280px) {
    font-size: 22px;
    line-height: 1.36;
  }
}
.team__name--font {
  font-size: 13px;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.team__prof {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  opacity: 0.5;
  text-align: left;
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.team__soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 122px 24px 122px;

  @media screen and (min-width: 768px) {
    padding: 0 74px 24px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 32px 30px 32px;
  }
}
.team__soc-link {
  display: none;
  @media screen and (min-width: 768px) {
    display: none;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #cbcbcb;

    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: #163530;
      background-color: #ffe248;
    }
  }
}
.team__mob-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;

  color: #163530;
  opacity: 0.5;
  &:hover,
  &:focus {
    transform: scale(0.9);
  }
  @media screen and (min-width: 768px) {
    font-size: 15px;
  }
}
.team__mob-icon {
  margin-right: 4px;
  fill: #163530;
}
.team__btn {
  display: block;
  margin: 21px auto 35px auto;
  background-color: transparent;
  border: transparent;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  text-decoration-line: underline;

  color: #163530;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
#more {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.background-image {
  background-color: #f3f4f1;
  display: flex;
  align-items: center;
  text-align: center;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.background-image .team__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.background-image .team__img.love-kebab {
  width: 60%;
}

.partners-button {
  margin-top: 45px;
}

.partners-button {
  @media screen and (min-width: 768px) {
    .link--suport {
        width: 285px;
    }
  }
}




